<footer class = "footer-custom">
  <div class = "footer-wrapper">
    <div class = "footer-link-block">
      <a href = "https://github.com/jsquire4/moodleData" class = "footer-link">Github</a>
      <a href = "http://www.nephtc.org/" class = "footer-link">NEPHTC Training Site</a>
      <a href = "/about" class = "footer-link">About</a>
    </div>
    <div class = "footer-copyright">
      <p class = "copyright-info">&copy;2017 New England Public Health Training Center</p>
      <p class = "support-info">Site by Jacob Squire for internal use by the BU School of Public Health Activist Lab. Email jsquire4@bu.edu for support</p>
    </div>
  </div>
</footer>