<footer class = "footer-custom">
  <div class = "footer-wrapper">
    <div class = "footer-link-block">
      <a href = "/about" class = "footer-link">About</a>
      <a href = "http://www.nephtc.org/" class = "footer-link">NEPHTC Training Site</a>
      <a href = "/support" class = "footer-link">Support</a>
    </div>
    <div class = "footer-copyright">
      <p class = "copyright-info">&copy;2018 New England Public Health Training Center</p>
      <p class = "support-info">Site by Jacob Squire for internal use by the BU School of Public Health Activist Lab.</p>
    </div>
  </div>
</footer>