<!-- Page Content -->
<div class="container">

<div class="row top-frontpage-block">
  <div class="col-sm-8 home-hero-left">
    <h2 class="mt-4">Welcome!</h2>
    <p>Login or register to view reports.  If you are new to the site, click the button below to read through the documentation for this site. <br>
    <br>
    A friendly reminder that all data on this site is for internal use only.  Please be condsiderate of our user's privacy and personal security.  Remember to log out of each session, and never tell your password to anyone.</p>
    <p>
      <a class="btn btn-primary btn-lg" href="/about">Documentation &raquo;</a>
    </p>
  </div>

  {{#if user}}
    <div class = "col-sm-4 user-logged-in">
      <div class = "info-home-bloc">
        <h2 class = "greeting-banner mt-4">Hello {{user.firstname}}!</h2>
        <p class = "other-info-home">This might be another place to store some information that you need to know.  There might even be a button to take you there.</p>
        <p class = "other-info-home">Of course this is all theoretical and doesn't do anything</p>
      </div>
      <a href="#" class="btn btn-danger btn-lg">Red Pill Me Morpheus</a>
    </div>
  {{else}}
    <div class="col-sm-4 user-login-home">
      <h2 class = "greeting-banner mt-4">Login</h2>
      <form class = "user-login-form" method = "post" action = "/users/login">
        <div class="form-group">
          <label for="username">User Name</label>
          <input type="text" class="form-control" id="username" placeholder="Enter User Name" name = "username">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" placeholder="Enter Password" name = "password">
        </div>
        <button type = "submit" class = "btn btn-lg btn-success">Login</button>
      </form>
    </div>
  {{/if}}
</div>
<!-- /.row -->

<div class="row bottom-frontpage-block">
  <div class="col-sm-4 my-4">
    <div class="card">
      <div class = "card-flex-protector">
        <img class="card-img-top-custom" src="/img/code.jpg" alt="">
        <div class="card-body">
          <h4 class="card-title">Possible Funcationality</h4>
          <p class="card-text">Stop living in the past and make your life easier with this technology that we added.</p>
        </div>
      </div>
      <div class="card-footer">
        <a href="#" class="btn btn-primary">Go to app</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4 my-4">
    <div class="card">
      <div class = "card-flex-protector">
        <img class="card-img-top-custom" src="/img/reports.jpg" alt="">
        <div class="card-body">
          <h4 class="card-title">View previous reports</h4>
          <p class="card-text">Already working on a report?  Go back to your work and continue where you left off.</p>
        </div>
      </div>
      <div class="card-footer">
        <a href="#" class="btn btn-primary">Continue working</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4 my-4">
    <div class="card">
      <div class = "card-flex-protector">
        <img class="card-img-top-custom" src="/img/support.jpg" alt="">
        <div class="card-body">
          <h4 class="card-title">Questions? Comments? Liabilities?</h4>
          <p class="card-text">If you have any questions, comments, or find a bug please fill out the form and the support team will try to help you as soon as possible.</p>
        </div>
      </div>
      <div class="card-footer">
        <a href="/support" class="btn btn-primary">Continue to support</a>
      </div>
    </div>
  </div>

</div>
<!-- /.row -->

</div>