<div class = "reports-splash">
  <div id = "moodle-analyitics-block">

  </div>


  <div id = "prebuilt-moodle-report-block">
    <form class = "prebuilt-moodle-reports" method = "post" action = "/reports/report">
      <p class = "prebuilt-date-range">Select your report type and date range</p>
      <input class = "report-radio" type= "radio" name="reporttype" value="audit" checked> Audited Courses Enrollment<br>
      <input class = "report-radio" type= "radio" name="reporttype" value="feedback">Feedback on Courses<br>
      <input class = "report-radio" type= "radio" name="reporttype" value="grades">User Test Grades<br>
      <input class = "report-date" type = "date" name = "fromdate"><br>
      <input class = "report-date" type = "date" name = "todate">
      <button type = "submit" class = "btn btn-default">Get Report</button>
    </form>
  </div>


  <div id = "custom-sql-input">
  </div>


</div> 