<div class = "reports-splash">
  <div class = "report-selection-block">
    
    <form class = "prebuilt-moodle-reports" method = "post" action = "/reports/report">
      <h5 class = "prebuilt-report-select">Step 1: Select a report type</h5>
     
      <div class="btn-group" data-toggle="buttons">

        <label class="btn btn-primary">
          <input type="radio" class = "report-selection" name="reporttype" id="audit" autocomplete="off" value="audit">Course Audit Enrollment
        </label>

        <label class="btn btn-primary">
          <input type="radio" class = "report-selection" name="reporttype" id="feedback" autocomplete="off" value="feedback">Course Feedback
        </label>

        <label class="btn btn-primary">
          <input type="radio" class = "report-selection" name="reporttype" id="grades" autocomplete="off" value="grades">Course Pre and Post-Test Grades
        </label>

      </div>

      <div class = "date-fields">
        <h5 class = "prebuilt-date-range">Step 2: Select the desired date range</h5>
        <div class = "date-field-single-block">
          <p class = "date-field-single-label">From</p>
          <input class = "form-control report-dates" type = "date" name = "fromdate">
        </div>

        <div class = "date-field-single-block">
          <p class = "date-field-single-label">To</p>
          <input class = "form-control report-dates" type = "date" name = "todate">
        </div>
      </div>
      
      <button type = "submit" class = "btn btn-success">Get Report</button>
    </form>

  </div>

  <div class = "saved-reports-block">
    <h4 class = "announcement-reports">Coming soon!  Save data and compile reports together!</h4>
  </div>
</div>

<script type = "text/javascript">
$().button('toggle');
</script>