<div class="about-page-block">
  <h2 class = "support-header">Ticket Submitted</h2>
  <p class="support-subheading">Thank you for you submission!  A web admin has been notified and will contact you shortly. Click one of the buttons to go home or to view your pending support ticket.</p>  


  <a class = "support-button btn btn-primary" href = "/">Go Home</a>

  <a class = "support-button btn btn-info" href = "/support/tickets">View Your Support Tickets</a> 
</div>
