<div class="about-page-block">
  <h2 class = "support-header">Ticket Submitted</h2>
  <p class="support-subheading">Thank you for you submission!  A web admin has been notified and will contact you shortly.</p>  
  <a class = "support-button btn btn-primary" href = "/">Go Home</a>
</div>
