<div class="about-page-block">
  <h1>Support</h1>
  <p class="lead">Hang in there partner!  Support is on the way!  We just gotta build it first <i class="em em-sweat_smile"></i></p>
  <br>
  <p class = "lead"> In the meantime, email <a href= "#">jsquire4@bu.edu</a> for any issues using this site</p>
</div>
